<div class="container-fluid">
  <h1>Search Stocks</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        {{input type="search" class="form-control" id="inputSearch" value=symbol placeholder="Enter the stock symbol..." action="search"}}
        <span class="input-group-btn">
          <button type="button" {{bind-attr class=":btn :btn-success :btn-inline empty:disabled"}} {{action "search"}}>Go</button>
        </span>
      </div><!-- /input-group -->
      <br/>
      {{#each flist}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search Result {{id}}: {{symbol}}</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <a href="#">
              <i class="icon-file-pdf"></i>
            </a>
            <h4 class="list-group-item-heading">
              <a>
                {{name}}
              </a>
            </h4>
            <p class="list-group-item-text"><strong>${{cost}}</strong></p>
          </div>
        </div>
        <div class="panel-footer">
          {{input type="number" class="form-control" value=amount}}
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button class="btn btn-success">
                Buy
                </button>
            </div>
            <div class="btn-group">
              <button class="btn btn-success">
                Sell One
                </button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>
