<link rel="stylesheet" href="signin.css">
<div class="container">
  <form class="form-signin" role="div">
    <h2 class="form-signin-heading">Register</h2> <h5 class="form-signin-heading">{{#link-to 'signin'}}or sign in{{/link-to}}</h5>
    <div {{bind-attr class=":form-group emptyEmail:has-warning:"}}>
      {{input type="email" class="form-control" placeholder="Your email" value=email}}
      {{#if emptyEmail}}
        <p class="text-warning">Your email is required</p>
      {{/if}}
    </div>

    <div {{bind-attr class=":form-group emptyPass:has-warning:"}}>
      {{input type="password" class="form-control" placeholder="Password" value=pass}}
      {{#if emptyPass}}
        <p class="text-warning">Your password is required</p>
      {{/if}}
    </div>
    <div {{bind-attr class=":form-group emptyPassConf:has-warning:"}}>
      {{input type="password" class="form-control" placeholder="Password Confermation" value=passConf}}
      {{#if emptyPassConf}}
        <p class="text-warning">Your password confirmation is required</p>
      {{/if}}
    </div>
    <div class="checkbox">
      <label>
        {{input type="checkbox" value="remember-me" checked=remember}} Remember me
      </label>
    </div>
    {{#if error}}
      <p class="text-danger">{{error}}</p>
    {{/if}}
    <button class="btn btn-primary btn-block" {{action "signin"}}>Sign in</button>
  </form>
</div> <!-- /container -->
