<div class="container-fluid">
  <h1>Search Stocks</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        {{input type="search" classBinding=":form-control empty:expand:de-expand" name="inputSearch" value=symbol placeholder="Enter the stock symbol..." action="search"}}
        <span class="input-group-btn">
          <button type="button" {{bind-attr class=":btn :btn-primary :btn-inline empty:hideded:showed"}} {{action "search"}}>
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div><!-- /input-group -->
      <br/>
      {{#each flist}}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Search Result {{id}}: {{Symbol}}</h3>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <a href="#">
              <i class="icon-file-pdf"></i>
            </a>
            <h4 class="list-group-item-heading">
              <a href="{{unbound [Summary Quote]}}">
                {{Name}} &nbsp; &nbsp; <span class="badge badge-lg badge-primary">{{industry}} ({{Sector}})</span>
              </a>
            </h4>
            <p class="list-group-item-text"><h3><strong>${{LastSale}}</strong></h3></p>
            <p class="list-group-item-text"><strong>Initial Public Offering year: {{IPOyear}}</strong></p>
            <p class="list-group-item-text"><strong>Market cap: ${{MarketCap}}</strong></p>
          </div>
        </div>
        <div class="panel-footer">
          <input type="number" pattern="\d+" {{bind-attr id="id"}} class="form-control" value="0" placeholder="Amount...">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button {{action 'buy' id}} class="btn btn-primary">
                Buy
              </button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <nav>
    <ul class="pager">
      <li {{bind-attr class=":previous canPrev::disabled"}}>
        <a {{action 'prev'}} {{bind-attr class="canPrev:showed:hideded"}} href="#inputSearch">&larr; Previous Page</a>
      </li>
      <li {{bind-attr class=":next canNext::disabled"}}>
        <a {{action 'next'}} {{bind-attr class="canNext:showed:hideded"}} href="#inputSearch">Next Page &rarr;</a>
      </li>
    </ul>
  </nav>
</div>
